* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: darkblue;
  padding: 10px;
  
}

nav a {
  color: white;
  display: block;
  padding: 2px;
}

h1 {
  color: darkblue;

}

main{
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

aside {
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}

aside img {
  width: 100%;
  height: auto;
}

aside h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
}
footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  background-color: #cccacc;
  color: #1a044e;
}